# The Intern Group - Exploratory Data Analysis on Twitter Data

In [22]:
from collections import Counter
from tweet_parser.tweet import Tweet
import pandas as pd

In [7]:
from utils import load_datasets

In [14]:
datasets = load_datasets()

### About datasets

In [17]:
for company in datasets:
    print("%s's Twitter account has %d tweets" % (company, len(datasets[company])))

GoAbroad's Twitter account has 3249 tweets
@naceorg's Twitter account has 3215 tweets
theinterngroup's Twitter account has 3226 tweets

## Hashtags

In [46]:
def most_frequent(company, datasets):
    hashtags = []
    for tweet in datasets[company]:
        tweet = Tweet(tweet)
        try:
            if tweet.hashtags:
                hashtags.extend(tweet.hashtags)
        except IndexError:
            pass
    print("%s:" % company)
    print(pd.DataFrame(Counter(hashtags).most_common(20), columns=['Hashtag', 'count']))

In [48]:
most_frequent('theinterngroup', datasets)

theinterngroup:
                    Hashtag  count
0              internabroad    268
1              careeradvice    176
2                internship    157
3            theinterngroup     97
4                    London     87
5             TravelTuesday     77
6                    Madrid     74
7          internshipabroad     65
8                    travel     63
9                  Colombia     59
10                 Medellin     57
11                 HongKong     54
12              StudyAbroad     49
13  internationalinternship     48
14                Australia     42
15                  funding     38
16                   intern     36
17              internships     34
18                Melbourne     33
19                  NewYork     31

In [49]:
most_frequent('GoAbroad', datasets)

GoAbroad:
             Hashtag  count
0        studyabroad    339
1             travel    208
2       internabroad    136
3    volunteerabroad    107
4             intled    106
5   StudyAbroadGoals     68
6         workabroad     53
7          Volunteer     51
8        Internships     50
9        teachabroad     48
10              TEFL     39
11       StudyAbroad     29
12      volunteering     29
13             Spain     28
14            France     27
15              Jobs     25
16             study     24
17             China     22
18              tefl     22
19       goabroadcom     22

In [50]:
most_frequent('@naceorg', datasets)

@naceorg:
             Hashtag  count
0     careerservices    661
1         recruiting    453
2             NACE18    237
3           NACEbite    151
4            interns     96
5         recruiters     71
6    WednesdayWisdom     66
7            NACEMLI     66
8         internship     47
9         Recruiters     41
10       internships     37
11            NACE19     35
12                co     35
13            hiring     30
14         interview     29
15            intern     25
16         jobsearch     25
17        Recruiting     24
18              jobs     19
19  MondayMotivation     17

## Retweets